<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title>login</title>
	</head>
	<body>
		<form th:method="POST" th:object="${user}" action="/api/users">
			<label for="username">login:</label>
			<input type="text" id="username" name="username" placeholder="username" th:field="*{username}"/>
			<br>
			<label for="password">pass"</label>
			<input type="password" id="password" name="password" placeholder="password" th:field="*{password}"/>
			<br>
			<button type="submit"></button>
		</form>
	</body>
</html>